<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        Guia Blog
    </a>

    <ul class="navbar-nav mr-auto">
        <li>
            <a href="/admin/categories" class="nav-link">Categories</a>
        </li>
    </ul>
</nav>